name: Schedule Test
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
   
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Simple test
          run: echo "Scheduled run working"